server {
    listen {{ webserver_port }};
    server_name {{ webserver_server_name }};

    root {{ webserver_root }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location /healthz {
        default_type text/plain;
        return 200 'ok\n';
    }
}
